html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  background: #fff;
  font-family: "Quicksand", sans-serif;
}
h1 {
  font-size: 60px;
  color: #a9d9d0;
  margin-bottom: 0;
  padding-top: 140px;
}
h2 {
  font-size: 60px;
  color: #f2e7dc;
  margin-top: 0;
}
h3,
h4 {
  font-size: 40px;
}
h3 {
  padding-top: 40px;
  padding-bottom: 20px;
}
h4 {
  padding-top: 40px;

  color: #a9d9d0;
}
h5 {
  font-size: 20px;
}
p {
  font-size: 18px;
}
img {
  width: 280px;
  display: block;
}
a {
  display: block;
  margin-right: 40px;
  border: 1px solid #027373;
  color: #027373;
  padding: 20px 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.4s ease;
}
a:hover {
  color: #fff;
  background-color: #027373;
  transition: all 0.4s ease;
}
th.navbar {
  opacity: 0.6;
  transition: all 0.4s ease;
}
th.navbar:hover {
  cursor: pointer;
  opacity: 1;
  transition: all 0.4s ease;
}
table.all-projects {
  table-layout: fixed;
}
td {
  width: 33%;
}
footer {
  color: #027373;
  margin-top: -20px;
  text-align: center;
}
.greeting {
  padding-left: 120px;
  height: 100%;
  background: #027373;
}
.navigation {
  width: 100%;
  padding-top: 20px;
  background-color: transparent;
  color: #f2e7dc;
}
.about {
  color: #027373;
  padding-left: 120px;
  padding-right: 120px;
  height: 100%;
}
.my-work {
  background-color: #027373;
  padding-left: 120px;
  padding-right: 120px;
  height: 100%;
}
.contact {
  table-layout: fixed;
  width: 100%;
}
.open-link {
  display: inline;
  border: none;
  padding: 0;
}
.my-projects {
  padding: 20px;
}
.project-name {
  padding: 20px;
  text-align: left;
  font-size: 20px;
  color: #a9d9d0;
}
.project-description {
  vertical-align: text-top;
  padding: 0 20px;
  text-align: left;
  color: #a9d9d0;
}
.launch-app {
  max-width: 100%;
  border: 1px solid #a9d9d0;
  color: #a9d9d0;
  padding: 10px 10px;
}
.launch-app:hover {
  border: 1px solid #a9d9d0;
  background-color: #a9d9d0;

  color: #027373;
  padding: 10px 10px;
}
.project-link {
  padding: 20px;
}
.img-profile {
  width: 400px;
  margin-top: -280px;
  margin-right: 100px;
  float: right;
}
