html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  background: #fff;
  font-family: "Quicksand", sans-serif;
}
h1 {
  font-size: 60px;
  color: #a9d9d0;
  margin-bottom: 0;
  padding-top: 140px;
}
h2 {
  font-size: 60px;
  color: #f2e7dc;
  margin-top: 0;
}
h3,
h4 {
  font-size: 40px;
}
h3 {
  padding-bottom: 60px;
}
h4 {
  padding-top: 40px;

  color: #a9d9d0;
}
h5 {
  font-size: 20px;
}
p {
  font-size: 18px;
}
a {
  display: block;
  max-width: 200px;
  border: 1px solid #027373;
  color: #027373;
  padding: 20px 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.4s ease;
}
a:hover {
  color: #fff;
  background-color: #027373;
  transition: all 0.4s ease;
}
.greeting {
  padding-left: 120px;
  height: 100%;
  background: #027373;
}
.navigation {
  width: 100%;
  padding-top: 20px;
  background-color: transparent;
  color: #f2e7dc;
}
.about {
  color: #027373;
  padding-left: 120px;
  padding-right: 120px;
  height: 100%;
}
.my-work {
  background-color: #027373;
  padding-left: 120px;
  padding-right: 120px;
  height: 100%;
}
.contact {
  table-layout: fixed;
  width: 100%;
}
